@font-face {
	font-family: quicksand-reg;
	src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
	font-family: quicksand-light;
	src: url(../fonts/Quicksand-Light.ttf);
}

@font-face {
	font-family: Mandali;
	src: url(../fonts/Mandali-Regular.ttf);
}
.container {
	font-family: Mandali;
	font-size: 1.7em;
	text-align: center;
}

* {
	background-color: rgb(243, 243, 243);
}

.data-value {
	margin: 0;
}

.song-list {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

label,
h5 {
	font-size: 0.95rem;
}

h3 {
	font-family: Mandali;
	font-size: 0.9rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

h4 {
	font-family: Mandali;
	font-size: 1.1rem;
	margin: 0;
}

.container-1 {
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 100%;
}

button {
	font-family: Mandali;
	font-size: 1.2rem;
	background-color: rgb(162, 255, 182);
	border-radius: 15%;
	padding: 0% 0.5% 0% 0.5%;
	margin-bottom: 2%;
}

.chart-container {
	margin: 0;
	padding: 0;
}

.legend-container {
	margin: 0;
	padding: 0;
}

.top-artists,
.top-tracks {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	margin: 0;
}
